<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493522190860-cg6j0mpg08tnvr41e58ij7ln8j69qqn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493522190860-cg6j0mpg08tnvr41e58ij7ln8j69qqn8</string>
	<key>API_KEY</key>
	<string>AIzaSyBJrQWYjJqqIaQ9CmaoFjfkFJBfiOezcNk</string>
	<key>GCM_SENDER_ID</key>
	<string>493522190860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plannier</string>
	<key>PROJECT_ID</key>
	<string>plannier-5b64c</string>
	<key>STORAGE_BUCKET</key>
	<string>plannier-5b64c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493522190860:ios:04c6c35d28816be5166429</string>
</dict>
</plist>